{% extends "nfgc/base.html" %}
{% load static %}
{% block content %}




         

      

   
<div class="hero-section">
  <div class="hero-section-text">
    <h1>VOTE FOR WHAT TO HAVE ADDED NEXT</h1>
    <h5></h5>
  </div>
</div>


      


      <div class = "tabs-content" data-tabs-content = "tabs_example">
         <div class = "tabs-panel is-active" id = "tab1">


          
          
          
         </div>

       

      </div>

      <a href="welcome.html" class="button" style="align:right;">Return Home</a>

      <script>
         $(document).ready(function() {
            $(document).foundation();
         })
      </script>
   </body>
</html>





{% endblock %}  